* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	background-color: #54335f;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-info {
	display: flex;
	flex-direction: column;
	background-color: #f7dba0;
	width: 80%;
}

.shoe-card-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 30px;
	width: 80%;
}

.header {
	height: 20vh;
}

.shoe-header {
	height: 10vh;
}

.img-div {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.img-caption {
	width: 95%;
	margin-bottom: 3vh;
}

.footer {
	width: 100%;
}

.img-caption,
.footer {
	height: 10vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ddb9e9;
	margin-top: 2vh;
	font-family: "Lato", sans-serif;
}

.footer h3 {
	font-size: 20px;
	font-weight: 300;
}

.img-caption h3 {
	text-align: center;
	font-size: 25px;
	font-weight: 300;
}

.shoe-header h1 {
	font-size: 30px;
	font-weight: 700;
}

.header,
.shoe-header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #ddb9e9;
	margin-top: 5vh;
	margin-bottom: 5vh;
	text-align: center;
	vertical-align: middle;
	font-family: "Lato", sans-serif;
}

.career-highlights {
	margin-top: 25px;
	width: 40%;
	align-self: center;
}

a {
	font-weight: 700;
}

h1 {
	font-size: 50px;
	font-weight: 700;
}

h3 {
	font-size: 30px;
	font-weight: 300;
}

.info {
	padding: 10px;
	margin: 5px;
	border-radius: 5px;
	color: rgb(0, 0, 0);
}

img {
	max-width: 100%;
	height: auto;
	padding: 10px;
}

.bullets {
	margin-left: 20px;
	line-height: 35px;
	font-size: 17px;
}

.info-line-height {
	line-height: 25px;
}

.shoe-card {
	display: flex;
	flex-direction: column;
	width: 200px;
	height: 35vh;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	background-color: white;
	box-shadow: 5px 10px 10px 0 rgba(221, 162, 248, 0.2);
	transition: transform 0.2s ease-in;
	border: 4px solid #d4af37;
}

.kobe-shoes-img {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 55%;
	width: auto;
	align-self: center;
}

.kobe-shoes-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 45%;
	width: auto;
	align-self: center;
	text-align: center;
}

.shoe-card:hover {
	transform: translateY(-10px);
}

.shoe-card img {
	width: 170px;
	height: auto;
}

@media (min-width: 1080px) {
	img {
		height: 100vh;
		width: auto;
	}
}

/* mobile */
@media (max-width: 500px) {
	.career-highlights {
		width: 80%;
	}
}

/* tablet */
@media (max-width: 768px) {
	.career-highlights {
		width: 80%;
	}
}

/* utilities */
.b-header {
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.b-semi-header {
	font-weight: bold;
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.b-center {
	text-align: center;
}

.reverse-image {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.shoes-title {
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	font-family: "Playfair Display", serif;
}
